import unittest


class Test${project_name_class}(unittest.TestCase):

    def setUp(self):
        """Prepare test data"""

    def tearDown(cls):
        """Destroy test data"""

    def test_${project_name_test}(self):
        """Test functionality"""
